.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.username {
    font-weight: 700;
}

@media screen and (max-width: 375px) {
    .btnLogo {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    .btnLogo {
        font-size: smaller;
    }
}